<br>
<div>補登查詢</div>
<br>
<table border="1">
  <tr>
    <td>
      <label for="account">1.帳號 :</label>
      <input type="text" id="account" [(ngModel)]="account" (blur)="onBlurMethod()">
    </td>
    <td>
      <label >2.摘要:S06 </label>
    </td>
  </tr>
  <tr>
    <td>
      <label for="name">3.帳號: </label>
      <input type="text"  id="name">
    </td>
  </tr>
  <tr>
    <td>
      <label for="startdate">4.查詢日期</label>
        <input type="text"  id="startdate">
    </td>

    <td>
      <label for="startdate">4.查詢日期</label>
        <input type="text"  id="startdate">
    </td>
  </tr>
  </table>
